<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>File Meta-Data</title>
</head>
<body>
    <header>
        <h1>File Meta-Data</h1>
        <h2>A microservice which returns a file's name, type and size in JSON format</h2>
    </header>
    <main>
        <form method="POST" action="/api/fileanalyse" enctype="multipart/form-data">
            <label onclick="javascript:document.getElementById('input-file').click();console.log('clicked')">
                Select File ☝
            </label>
            <input type="file" name="upfile" id="input-file" hidden/>
            <button type="submit" id="submit"><span>🤓</span><br/>Get Data</button>
        </form>
    </main>
</body>
<script>
    document.getElementById('upfile').addEventListener('change', ()=>{
        document.getElementById('submit').style.backgroundColor = 'rgb(146, 10, 10)';
    })
</script>
</html>